{% extends "base.html" %}
{% load static %}
{% load cache %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <!-- Каталог Start -->
    <div class="container-fluid pt-5">
        <h2 class="section-title position-relative mx-xxl-5 mb-4"><span class="bg-secondary pr-3">Товары</span></h2>
        <div class="row px-xxl-5 pb-3">
            {% cache 600 cache_all_categories %}
            {% tag_categories as categories %}
            {% for category in categories %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1">
                    <a class="text-decoration-none" href="{% url "catalog:index" category.slug %}">
                        <div class="cat-item d-flex align-items-center mb-4">
                            <div class="overflow-hidden" style="width: 100px; height: 100px;">
                                {% if category.name == 'Все товары' %}
                                    <img class="img-fluid" src="{% static "img/Коробки.png" %}" alt="">
                                {% elif category.name == 'Автомобили' %}
                                    <img class="img-fluid" src="{% static "img/Машина.png" %}" alt="">
                                {% elif category.name == 'Книги' %}
                                    <img class="img-fluid" src="{% static "img/Книги.png" %}" alt="">
                                {% elif category.name == 'Мебель' %}
                                    <img class="img-fluid" src="{% static "img/Диван.png" %}" alt="">
                                {% elif category.name == 'Музыкальные инструменты' %}
                                    <img class="img-fluid" src="{% static "img/Музыкальные инструменты.png" %}" alt="">
                                {% elif category.name == 'Предметы интерьера' %}
                                    <img class="img-fluid" src="{% static "img/Настольная лампа.png" %}" alt="">
                                {% elif category.name == 'Полезные мелочи' %}
                                    <img class="img-fluid" src="{% static "img/Вещи.png" %}" alt="">
                                {% elif category.name == 'Недвижимость' %}
                                    <img class="img-fluid" src="{% static "img/Недвижимость.png" %}" alt="">
                                {% elif category.name == 'Хозяйственно-бытовые товары' %}
                                    <img class="img-fluid" src="{% static "img/Хозтовары.png" %}" alt="">
                                {% elif category.name == 'Одежда' %}
                                    <img class="img-fluid" src="{% static "img/Одежда.png" %}" alt="">
                                {% endif %}
                            </div>
                            <div class="flex-fill pl-3">
                                <h6>{{ category.name }}</h6>
                                <small class="text-body">{{ category.count }}</small>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
            {% endcache %}
        </div>
    </div>
    <!-- Каталог End -->
{% endblock %}
    
<!-- Footer Start -->
{% block footer %}
<footer style="position: fixed;  left: 0;  bottom: 0;  width: 100%;">
    <div class="container-fluid bg-dark text-secondary mt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 mb-5 pt-1">
                <h5 class="text-secondary text-uppercase mb-4">Оставайтесь на связи</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Blagoveshchensk, Russia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 (914) 558-07-25  (c 09:00 до 18:00)</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Навигация по сайту</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:index" %}"><i class="fa fa-angle-right mr-2"></i>Главная страница</a>
                            <a class="text-secondary mb-2" href="{% url "main:all_categories" %}"><i class="fa fa-angle-right mr-2"></i>Каталог</a>
                            <a class="text-secondary mb-2" href="{% url "favorite:favorites_list" %}"><i class="fa fa-angle-right mr-2"></i>Избранное</a>
                            <a class="text-secondary mb-2" href="{% url "user:users_cart" %}"><i class="fa fa-angle-right mr-2"></i>Корзина</a>
                            {% if user.is_authenticated %}
                                <a class="text-secondary mb-2" href="{% url "users:profile" %}"><i class="fa fa-angle-right mr-2"></i>Личный кабинет</a>
                                <a class="text-secondary" href="{% url "orders:my_orders" %}"><i class="fa fa-angle-right mr-2"></i>Заказы</a>
                            {% else %}
                                <a class="text-secondary" href="{% url "users:registration" %}"><i class="fa fa-angle-right mr-2"></i>Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Для клиента</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Сообщить о проблеме</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#confidencial-politics"><i class="fa fa-angle-right mr-2"></i>Политика конфиденциальности</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#personal-data"><i class="fa fa-angle-right mr-2"></i>Персональные данные</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#sale-rules"><i class="fa fa-angle-right mr-2"></i>Правила продаж</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#site-rules"><i class="fa fa-angle-right mr-2"></i>Правила пользования сайта</a>
                            <a class="text-secondary" href="{% url "main:about" %}#partnership"><i class="fa fa-angle-right mr-2"></i>Сотрудничество</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Подписаться на новости</h5>
                        <p>Подпишитесь на новости, чтобы первым узнавать о распродажах и акциях</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ваша почта">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Подписаться</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Мы в соцсетях</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://t.me/MaxBakshaev"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://vk.com/id177267895"><i class="fab fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; 2025 - <a class="text-primary" href="https://beget.com/ru">Beget.com</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://github.com/MaxBakshaev/">MaxBakshaev</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Footer End -->