{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <!-- Featured Start -->
    <div class="container-fluid pt-3">
        <div class="row px-xl-5 pb-2">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Качество продукции</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Бесплатная доставка</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Возврат в течение 14 дней</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Поддержка 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    
    <!-- Скидки Start -->
    <div class="container-fluid pt-1 pb-1">
        <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Лучшие скидки</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_1.image %}
                            <img class="img-fluid" src="{{ product_1.image.url }}" alt="{{ product_1.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ product_1.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=product_1.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p> <a class="h4" href="{% url "catalog:product" product_1.slug %}">{{ product_1.name }}</a></p>
                        <p class="product_id"> id: {{ product_1.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{ product_1.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ product_1.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ product_1.discount }} %</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_2.image %}
                            <img class="img-fluid" src="{{ product_2.image.url }}" alt="{{ product_2.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ product_2.id }}">
                                {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=product_2.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" product_2.slug %}">{{ product_2.name }}</a></p>
                        <p class="product_id"> id: {{ product_2.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{ product_2.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ product_2.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ product_2.discount }} %</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_3.image %}
                            <img class="img-fluid" src="{{ product_3.image.url }}" alt="{{ product_3.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ product_3.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=product_3.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" product_3.slug %}">{{ product_3.name }}</a></p>
                        <p class="product_id"> id: {{ product_3.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{ product_3.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ product_3.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ product_3.discount }} %</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star-half-alt text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_4.image %}
                            <img class="img-fluid" src="{{ product_4.image.url }}" alt="{{ product_4.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                            data-product-id="{{ product_4.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=product_4.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" product_4.slug %}">{{ product_4.name }}</a></p>
                        <p class="product_id"> id: {{ product_4.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            <h5>{{ product_4.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ product_4.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ product_4.discount }} %</h5>
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small class="far fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Скидки End -->

    <!-- Новинки Start -->
    <div class="container-fluid pt-1 pb-1">
        <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Новинки</span></h2>
        <div class="row px-xl-5">
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_1.image %}
                            <img class="img-fluid w-100" src="{{ new_product_1.image.url }}" alt="{{ product_1.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ new_product_1.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=new_product_1.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" new_product_1.slug %}">{{ new_product_1.name }}</a></p>
                        <p class="product_id"> id: {{ new_product_1.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if new_product_1.discount %}
                                <h5>{{ new_product_1.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ new_product_1.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ new_product_1.discount }} %</h5>
                            {% else %}
                                <h5>{{ new_product_1.sell_price }} ₽</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_2.image %}
                            <img class="img-fluid w-100" src="{{ new_product_2.image.url }}" alt="{{ product_2.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ new_product_2.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=new_product_2.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" new_product_2.slug %}">{{ new_product_2.name }}</a></p>
                        <p class="product_id"> id: {{ new_product_2.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if new_product_2.discount %}
                                <h5>{{ new_product_2.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ new_product_2.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ new_product_2.discount }} %</h5>
                            {% else %}
                                <h5>{{ new_product_2.sell_price }} ₽</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_3.image %}
                            <img class="img-fluid w-100" src="{{ new_product_3.image.url }}" alt="{{ product_3.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                            data-product-id="{{ new_product_3.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=new_product_3.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" new_product_3.slug %}">{{ new_product_3.name }}</a></p>
                        <p class="product_id"> id: {{ new_product_3.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if new_product_3.discount %}
                                <h5>{{ new_product_3.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ new_product_3.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ new_product_3.discount }} %</h5>
                            {% else %}
                            <h5>{{ new_product_3.sell_price }} ₽</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                <div class="product-item bg-light mb-4">
                    <div class="product-img position-relative overflow-hidden">
                        {% if product_4.image %}
                            <img class="img-fluid w-100" src="{{ new_product_4.image.url }}" alt="{{ product_4.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                        <div class="product-action">
                            <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ new_product_4.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                            <a class="btn btn-outline-dark btn-square">
                                <form action="{% url "favorites:add_to_favorites" id=new_product_4.id %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="type" value="{{ type }}">
                                    <input type="hidden" name="url_from" value="{{ request.path }}">
                                    <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                </form>      
                            </a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                            <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                    <div class="text-center py-4">
                        <p><a class="h4" href="{% url "catalog:product" new_product_4.slug %}">{{ new_product_4.name }}</a></p>
                        <p class="product_id"> id: {{ new_product_4.display_id }}</p>
                        <div class="d-flex align-items-center justify-content-center mt-2">
                            {% if new_product_4.discount %}
                                <h5>{{ new_product_4.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ new_product_4.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ new_product_4.discount }} %</h5>
                            {% else %}
                                <h5>{{ new_product_4.sell_price }} ₽</h5>
                            {% endif %}
                        </div>
                        <div class="d-flex align-items-center justify-content-center mb-1">
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small class="fa fa-star text-primary mr-1"></small>
                            <small>(99)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Новинки End -->
    
    <!-- Vendor Start -->
    <div class="container-fluid py-1">
        <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Категории</span></h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        {% if category.name == 'Автомобили' %}
                            <div class="bg-light p-4">
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Машина.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Книги' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Книги.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Мебель' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Диван.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Музыкальные инструменты' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Музыкальные инструменты.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Предметы интерьера' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Настольная лампа.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Полезные мелочи' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Вещи.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Недвижимость' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Недвижимость.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Хозяйственно-бытовые товары' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Хозтовары.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Одежда' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Одежда.png" %}" alt=""></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    
{% endblock %}

<!-- Footer Start -->
{% block footer %}
<footer>
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://github.com/MaxBakshaev/">MaxBakshaev</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Footer End -->