{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}
    <!-- Featured Start -->
    <div class="container-fluid pt-3">
        <div class="row px-xl-5 pb-2">
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fa fa-check text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Качество продукции</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fa fa-shipping-fast text-primary m-0 mr-2"></h1>
                    <h5 class="font-weight-semi-bold m-0">Бесплатная доставка</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fas fa-exchange-alt text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Возврат в течение 14 дней</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-12 pb-1 d-flex">
                <div class="d-flex align-items-center bg-light mb-4" style="padding: 30px; width: 100%;">
                    <h1 class="fa fa-phone-volume text-primary m-0 mr-3"></h1>
                    <h5 class="font-weight-semi-bold m-0">Поддержка 24/7</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Featured End -->

    
    <!-- Скидки Start -->
    <div class="container-fluid pt-1 pb-1">
        <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Лучшие скидки</span></h2>
        <div class="row px-xl-5">
            {% for discount_product in discount_products %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            {% if discount_product.image %}
                                <img class="img-fluid" src="{{ discount_product.image.url }}" alt="{{ discount_product.name }}">
                            {% else %}
                                <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                            {% endif %}
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                data-product-id="{{ discount_product.id }}">
                                {% csrf_token %}
                                <i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square">
                                    <form action="{% url "favorites:add_to_favorites" id=discount_product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="type" value="{{ type }}">
                                        <input type="hidden" name="url_from" value="{{ request.path }}">
                                        <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                    </form>      
                                </a>
                                <a class="btn btn-outline-dark btn-square" href="{% url "catalog:product" discount_product.slug %}">
                                    <i class="fa fa-arrow-right"></i>
                                </a>       
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <p> <a class="h4" href="{% url "catalog:product" discount_product.slug %}">{{ discount_product.name }}</a></p>
                            <p class="product_id"> id: {{ discount_product.display_id }}</p>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                <h5>{{ discount_product.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ discount_product.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ discount_product.discount }} %</h5>
                            </div>
                            <div class="d-flex align-items-center justify-content-center mb-1">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Скидки End -->

    <!-- Новинки Start -->
    <div class="container-fluid pt-1 pb-1">
        <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Новинки</span></h2>
        <div class="row px-xl-5">
            {% for new_product, new_product_rating in dict_product_rating.items %}
                <div class="col-lg-3 col-md-4 col-sm-6 pb-1 d-flex">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            {% if new_product.image %}
                                <img class="img-fluid w-100" src="{{ new_product.image.url }}" alt="{{ new_product.name }}">
                            {% else %}
                                <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                            {% endif %}
                            <div class="product-action">
                                <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                    data-product-id="{{ new_product.id }}">
                                        {% csrf_token %}
                                        <i class="fa fa-shopping-cart"></i></a>
                                <a class="btn btn-outline-dark btn-square">
                                    <form action="{% url "favorites:add_to_favorites" id=new_product.id %}" method="post">
                                        {% csrf_token %}
                                        <input type="hidden" name="type" value="{{ type }}">
                                        <input type="hidden" name="url_from" value="{{ request.path }}">
                                        <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                    </form>      
                                </a>
                                <a class="btn btn-outline-dark btn-square" href="{% url "catalog:product" new_product.slug %}">
                                    <i class="fa fa-arrow-right"></i>
                                </a>
                            </div>
                        </div>
                        <div class="text-center py-4">
                            <p><a class="h4" href="{% url "catalog:product" new_product.slug %}">{{ new_product.name }}</a></p>
                            <p class="product_id"> id: {{ new_product.display_id }}</p>
                            <div class="d-flex align-items-center justify-content-center mt-2">
                                {% if new_product.discount %}
                                    <h5>{{ new_product.sell_price }} ₽</h5><h6 class="text-muted ml-2"><del>{{ new_product.price }} ₽</del></h6><h5 class="badge bg-warning text-dark ml-3">-{{ new_product.discount }} %</h5>
                                {% else %}
                                    <h5>{{ new_product.sell_price }} ₽</h5>
                                {% endif %}
                            </div>
                            <div class="text-primary mr-2">
                                {% if new_product_rating < 0.25 %}
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 0.25 <= new_product_rating and new_product_rating < 0.75 %}
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 0.75 <= new_product_rating and new_product_rating < 1.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 1.25 <= new_product_rating and new_product_rating < 1.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 1.75 <= new_product_rating and new_product_rating < 2.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 2.25 <= new_product_rating and new_product_rating < 2.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 2.75 <= new_product_rating and new_product_rating < 3.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 3.25 <= new_product_rating and new_product_rating < 3.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                {% elif 3.75 <= new_product_rating and new_product_rating < 4.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 4.25 <= new_product_rating and new_product_rating < 4.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                {% elif new_product_rating >= 4.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                {% endif %}
                                <small style="Color: #3D464D;">({{ amount_reviews }})</small>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Новинки End -->
    
    <!-- Vendor Start -->
    <div class="container-fluid py-1">
        <h2 class="section-title position-relative mx-xl-5 mb-4"><span class="bg-secondary pr-3">Категории</span></h2>
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel vendor-carousel">
                    {% tag_categories as categories %}
                    {% for category in categories %}
                        {% if category.name == 'Автомобили' %}
                            <div class="bg-light p-4">
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Машина.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Книги' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Книги.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Мебель' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Диван.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Музыкальные инструменты' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Музыкальные инструменты.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Предметы интерьера' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Настольная лампа.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Полезные мелочи' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Вещи.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Недвижимость' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Недвижимость.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Хозяйственно-бытовые товары' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Хозтовары.png" %}" alt=""></a>
                            </div>
                        {% elif category.name == 'Одежда' %}
                            <div class="bg-light p-4">    
                                <a href="{% url "catalog:index" category.slug %}"><img src="{% static "img/Одежда.png" %}" alt=""></a>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- Vendor End -->
    
{% endblock %}

<!-- Footer Start -->
{% block footer %}
<footer>
    <div class="container-fluid bg-dark text-secondary mt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 mb-5 pt-1">
                <h5 class="text-secondary text-uppercase mb-4">Оставайтесь на связи</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Blagoveshchensk, Russia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+012 345 67890  (c 09:00 до 18:00)</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Навигация по сайту</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:index" %}"><i class="fa fa-angle-right mr-2"></i>Главная страница</a>
                            <a class="text-secondary mb-2" href="{% url "main:all_categories" %}"><i class="fa fa-angle-right mr-2"></i>Каталог</a>
                            <a class="text-secondary mb-2" href="{% url "favorite:favorites_list" %}"><i class="fa fa-angle-right mr-2"></i>Избранное</a>
                            <a class="text-secondary mb-2" href="{% url "user:users_cart" %}"><i class="fa fa-angle-right mr-2"></i>Корзина</a>
                            {% if user.is_authenticated %}
                                <a class="text-secondary mb-2" href="{% url "users:profile" %}"><i class="fa fa-angle-right mr-2"></i>Личный кабинет</a>
                                <a class="text-secondary" href="{% url "orders:my_orders" %}"><i class="fa fa-angle-right mr-2"></i>Заказы</a>
                            {% else %}
                                <a class="text-secondary" href="{% url "users:registration" %}"><i class="fa fa-angle-right mr-2"></i>Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Для клиента</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Сообщить о проблеме</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Политика конфиденциальности</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Персональные данные</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Правила продаж</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Правила пользования сайта</a>
                            <a class="text-secondary" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Сотрудничество</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Подписаться на новости</h5>
                        <p>Подпишитесь на новости, чтобы первым узнавать о распродажах и акциях</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ваша почта">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Подписаться</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Мы в соцсетях</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://t.me/MaxBakshaev"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://vk.com/id177267895"><i class="fab fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; 2025 - <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://github.com/MaxBakshaev/">MaxBakshaev</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Footer End -->