{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="{% url "main:all_categories" %}">Каталог</a>
                <span class="breadcrumb-item active">{{ category.name }}</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Filter by price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Фильтр по цене</span></h5>
            <div class="bg-light p-3 mb-30">
                <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get">
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-all" name="order_by" value="default" 
                        {% if not request.GET.on_sale == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price-all">Все товары</label>
                        {% if not request.GET.on_sale == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' and not request.GET.cost_1m == 'on' and not request.GET.cost_10m == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-discount" name="on_sale" value="on" 
                        {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                        {% if request.GET.q %}
                            <input type="hidden" name="q" value="{{ request.GET.q }}">
                        {% endif %}
                        <label class="custom-control-label" for="price-discount">Товары по акции</label>
                        {% if request.GET.on_sale == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' and not request.GET.cost_1m == 'on' and not request.GET.cost_10m == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-cheap" name="order_by" value="price" 
                        {% if request.GET.order_by == 'price' %}checked{% endif %}>
                        <label class="custom-control-label" for="price-cheap">От дешевых к дорогим</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-costly" name="order_by" value="-price" 
                        {% if request.GET.order_by == '-price' %}checked{% endif %}>
                        <label class="custom-control-label" for="price-costly">От дорогих к дешевым</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_1" name="cost_1k"
                        {% if request.GET.cost_1k == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_1">0 - 1000 ₽</label>
                        {% if request.GET.cost_1k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_2" name="cost_10k"
                        {% if request.GET.cost_10k == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_2">1000 - 10000 ₽</label>
                        {% if request.GET.cost_10k == 'on' and not request.GET.cost_1k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_3" name="cost_100k"
                        {% if request.GET.cost_100k == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_3">10000 - 100000 ₽</label>
                        {% if request.GET.cost_100k == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_4" name="cost_1m"
                        {% if request.GET.cost_1m == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_4">100000 - 1000000 ₽</label>
                        {% if request.GET.cost_1m == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_5" name="cost_10m"
                        {% if request.GET.cost_10m == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_5">Больше 1000000 ₽</label>
                        {% if request.GET.cost_10m == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' and not request.GET.cost_1m == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <button type="sumbit" class="btn btn-primary mx-3 mt-3">Применить</button>
                </form>
            </div>
            <!-- Filter by price End -->
        </div>
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                {% comment %} <div class="col-12 pb-1">
                    <div class="d-flex align-items-center justify-content-between mb-4">
                        <div>
                            <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                            <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                        </div>
                        <div class="ml-2">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Сортировать</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">По новинкам</a>
                                    <a class="dropdown-item" href="#">По популярным</a>
                                    <a class="dropdown-item" href="#">По рейтингу</a>
                                </div>
                            </div>
                            <div class="btn-group ml-2">
                                <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Показывать</button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{% url "catalog:index" slug_url %}" name="show_three">3</a>
                                    <a class="dropdown-item" href="{% url "catalog:index" slug_url %}" name="show_six">6</a>
                                    <a class="dropdown-item" href="{% url "catalog:index" slug_url %}" name="show_nine">9</a>
                                    <a class="dropdown-item" href="{% url "catalog:index" slug_url %}" name="show_twelve">12</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> {% endcomment %}

                <!-- Карты товара Start -->
                <div class="col-12 pb-3">
                    {% if request.GET.q %}
                    <h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}:</h3>
                    {% if not goods %}
                        <h2 class="mt-4">По запросу ничего не найдено</h2>
                    {% endif %}
                    {% endif %}
                </div>
                {% for product in goods %}
                <div class="col-lg-4 col-md-5 col-sm-6 pb-1 d-flex">
                    <div class="product-item bg-light mb-4">
                        <div class="product-img position-relative overflow-hidden">
                            {% if product.image %}
                                <img class="img-fluid w-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                            {% else %}
                                <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                            {% endif %}
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                    data-product-id="{{ product.id }}">
                                        {% csrf_token %}
                                        <i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square">
                                        <form action="{% url "favorites:add_to_favorites" id=product.id %}" method="post">
                                            {% csrf_token %}
                                            <input type="hidden" name="type" value="{{ type }}">
                                            <input type="hidden" name="url_from" value="{{ request.path }}">
                                            <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                        </form>      
                                    </a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                </div>
                        </div>
                        <div class="text-center py-3"> 
                            <p>
                                <a class="h4" href="{% url "catalog:product" product.slug %}">
                                    {% autoescape off %}
                                        {% if product.headline %}
                                        {{ product.headline }}
                                        {% else %}
                                        {{ product.name }}
                                        {% endif %}
                                    {% endautoescape %}
                                </a>
                            </p>
                            <p class="product_id"> id: {{ product.display_id }}</p>
                            <div class="d-flex align-items-center justify-content-center mt-1">
                                {% if product.discount %}
                                    <h5>{{ product.sell_price }} ₽</h5>
                                    <h6 class="text-muted ml-3"><del>{{ product.price }}</del> ₽</h6>
                                    <h5 class="badge bg-warning text-dark ml-3">-{{ product.discount }} %</h5>
                                {% else %}
                                    <h5>{{ product.price }} ₽</h5>
                                {% endif %}
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small class="fa fa-star text-primary mr-1"></small>
                                <small>(99)</small>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}                
                <!-- Карты товара End -->

                <!-- Пагинация Start -->
                {% if goods %}
                    <div class="col-12">
                        <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not goods.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="{% if goods.has_previous %}?{% change_params page=goods.previous_page_number %}{% else %}
                                #
                                {% endif %}">Назад</span></a>
                            </li>

                            {% for page in goods.paginator.page_range %}
                                {% if page >= goods.number|add:-2 and page <= goods.number|add:2 %}
                                    <li class="page-item {% if goods.number == page %}active{% endif %}">
                                        <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}

                            <li class="page-item {% if not goods.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{% if goods.has_next %}?{% change_params page=goods.next_page_number %}{% else %}
                                #
                                {% endif %}">Следующая</span></a>
                            </li>
                        </ul>
                        </nav>
                    </div>
                {% endif %}
                <!-- Пагинация End -->

            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
{% endblock %}
    
<!-- Footer Start -->
{% block footer %}
    <div class="container-fluid bg-dark text-secondary mt-5 pt-5">
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; <a class="text-primary" href="#">Domain</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://github.com/MaxBakshaev/">MaxBakshaev</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">
            </div>
        </div>
    </div>
{% endblock %}
<!-- Footer End -->