{% extends "base.html" %}
{% load static %}
{% load goods_tags %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <a class="breadcrumb-item text-dark" href="{% url "main:all_categories" %}">Каталог</a>
                <span class="breadcrumb-item active">{{ category.name }}</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<div class="container-fluid mb-3">
    <div class="row px-xl-5">
        <h2 style="padding-left: 15px;">{{ category.name }} {{ amount }} {{ goods_ending }}</h2>
    </div>
</div>

<!-- Shop Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <!-- Shop Sidebar Start -->
        <div class="col-lg-3 col-md-4">
            <!-- Filter by price Start -->
            <h5 class="section-title position-relative text-uppercase mb-3"><span class="bg-secondary pr-3">Фильтр по цене</span></h5>
            <div class="bg-light p-3 mb-30" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <form action="{% if request.GET.q %}{% url "catalog:search" %}{% else %}{% url "catalog:index" slug_url %}{% endif %}" method="get">
                    <div class="custom-control custom-checkbox d-flex align-items-cente0r justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-all" name="order_by" value="default" 
                        {% if not request.GET.on_sale == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price-all">Все товары</label>
                        {% if not request.GET.on_sale == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' and not request.GET.cost_1m == 'on' and not request.GET.cost_10m == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price-discount" name="on_sale" value="on" 
                        {% if request.GET.on_sale == 'on' %}checked{% endif %}>
                        {% if request.GET.q %}
                            <input type="hidden" name="q" value="{{ request.GET.q }}">
                        {% endif %}
                        <label class="custom-control-label" for="price-discount">Товары по акции</label>
                        {% if request.GET.on_sale == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' and not request.GET.cost_1m == 'on' and not request.GET.cost_10m == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>

                    <script>
                        function toggleCheckbox(checkbox) {
                            const otherCheckbox = checkbox === document.getElementById('checkbox1') ? document.getElementById('checkbox2') : document.getElementById('checkbox1');
                            if (checkbox.checked) {otherCheckbox.checked = false; } // Снимаеется отметка с другого чекбокса
                        }
                    </script>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="checkbox1" name="order_by" value="price" onclick="toggleCheckbox(this)"
                        {% if request.GET.order_by == 'price' %}checked{% endif %}>
                        <label class="custom-control-label" for="checkbox1">От дешевых к дорогим</label>
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="checkbox2" name="order_by" value="-price" onclick="toggleCheckbox(this)"
                        {% if request.GET.order_by == '-price' %}checked{% endif %}>
                        <label class="custom-control-label" for="checkbox2">От дорогих к дешевым</label>
                    </div>
                    
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_1" name="cost_1k"
                        {% if request.GET.cost_1k == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_1">0 - 1000 ₽</label>
                        {% if request.GET.cost_1k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_2" name="cost_10k"
                        {% if request.GET.cost_10k == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_2">1000 - 10000 ₽</label>
                        {% if request.GET.cost_10k == 'on' and not request.GET.cost_1k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_3" name="cost_100k"
                        {% if request.GET.cost_100k == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_3">10000 - 100000 ₽</label>
                        {% if request.GET.cost_100k == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_4" name="cost_1m"
                        {% if request.GET.cost_1m == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_4">100000 - 1000000 ₽</label>
                        {% if request.GET.cost_1m == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                        <input type="checkbox" class="custom-control-input" id="price_5" name="cost_10m"
                        {% if request.GET.cost_10m == 'on' %}checked{% endif %}>
                        <label class="custom-control-label" for="price_5">Больше 1000000 ₽</label>
                        {% if request.GET.cost_10m == 'on' and not request.GET.cost_1k == 'on' and not request.GET.cost_10k == 'on' and not request.GET.cost_100k == 'on' and not request.GET.cost_1m == 'on' %}<span class="badge border font-weight-normal">{{ amount }}</span>{% endif %}
                    </div>
                    <button type="sumbit" class="btn btn-primary mx-3 mt-3">Применить</button>
                </form>
            </div>
            <!-- Filter by price End -->
        </div>
        <!-- Shop Sidebar End -->

        <!-- Shop Product Start -->
        <div class="col-lg-9 col-md-8">
            <div class="row pb-3">
                <!-- Карты товара Start -->
                <div class="col-12 pb-3">
                    {% if request.GET.q %}
                        <h3 class="mt-4">Результаты поиска по запросу {{ request.GET.q }}:</h3>
                        {% if not goods %}
                            <h2 class="mt-4">По запросу ничего не найдено</h2>
                        {% endif %}
                    {% endif %}
                </div>
                {% if goods %}
                    {% for product in goods %}
                    <div class="col-lg-4 col-md-5 col-sm-6 pb-1 d-flex">
                        <div class="product-item bg-light mb-4" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                            <div class="product-img position-relative overflow-hidden">
                                {% if product.0.image %}
                                    <a href="{% url "catalog:product" product.0.slug %}">
                                        <img class="img-fluid w-100" src="{{ product.0.image.url }}" alt="{{ product.0.name }}">
                                    </a>
                                {% else %}
                                    <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                                {% endif %}
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                    data-product-id="{{ product.0.id }}">
                                    {% csrf_token %}
                                    <i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square">
                                        <form action="{% url "favorites:add_to_favorites" id=product.0.id %}" method="post">
                                            {% csrf_token %}
                                                <input type="hidden" name="type" value="{{ type }}">
                                                <input type="hidden" name="url_from" value="{{ request.path }}">
                                                <button class="btn btn-outline-dark btn-square" type="submit"><i class="fa fa-heart"></i></button>
                                        </form>      
                                    </a>
                                    <a class="btn btn-outline-dark btn-square" href="{% url "catalog:product" product.0.slug %}">
                                        <i class="fa fa-arrow-right"></i>
                                    </a>
                                </div>
                                </div>
                                <div class="text-center py-3"> 
                                    <p>
                                        <a class="h4" href="{% url "catalog:product" product.0.slug %}">
                                            {% autoescape off %}
                                            {% if product.0.headline %}
                                            {{ product.0.headline }}
                                            {% else %}
                                            {{ product.0.name }}
                                            {% endif %}
                                            {% endautoescape %}
                                        </a>
                                </p>
                                <p class="product_id"> id: {{ product.0.display_id }}</p>
                                <div class="d-flex align-items-center justify-content-center mt-1">
                                    {% if product.0.discount %}
                                    <h5>{{ product.0.sell_price_str }} ₽</h5>
                                    <h6 class="text-muted ml-3"><del>{{ product.0.price_str }}</del> ₽</h6>
                                    <h5 class="badge bg-warning text-dark ml-3">-{{ product.0.discount }} %</h5>
                                    {% else %}
                                    <h5>{{ product.0.price_str }} ₽</h5>
                                    {% endif %}
                                </div>
                                <div class="text-primary mr-2">
                                    {% if product.1.0 < 0.25 %}
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 0.25 <= product.1.0 and product.1.0 < 0.75 %}
                                        <small class="fas fa-star-half-alt"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 0.75 <= product.1.0 and product.1.0 < 1.25 %}
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 1.25 <= product.1.0 and product.1.0 < 1.75 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star-half-alt"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 1.75 <= product.1.0 and product.1.0 < 2.25 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 2.25 <= product.1.0 and product.1.0 < 2.75 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star-half-alt"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 2.75 <= product.1.0 and product.1.0 < 3.25 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 3.25 <= product.1.0 and product.1.0 < 3.75 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star-half-alt"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 3.75 <= product.1.0 and product.1.0 < 4.25 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="far fa-star"></small>
                                    {% elif 4.25 <= product.1.0 and product.1.0 < 4.75 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star-half-alt"></small>
                                    {% elif product.1.0 >= 4.75 %}
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                        <small class="fas fa-star"></small>
                                    {% endif %}
                                    <small style="Color: #3D464D;">({{ product.1.1 }})</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                    <div class="container-fluid mt-4" style="width: 700px;">
                        <img class="img-fluid" src="{% static "img/Товар не найден.png" %}" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                    </div>
                {% endif %}            
                <!-- Карты товара End -->
                
                <!-- Пагинация Start -->
                {% if goods %}
                <div class="col-12">
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item {% if not page_obj.has_previous %}disabled{% endif %}">
                                <a class="page-link" href="{% if page_obj.has_previous %}?{% change_params page=page_obj.previous_page_number %}{% else %}
                                #
                                {% endif %}">Назад</span></a>
                            </li>
                            
                            {% for page in page_obj.paginator.page_range %}
                            {% if page >= page_obj.number|add:-2 and page <= page_obj.number|add:2 %}
                            <li class="page-item {% if page_obj.number == page %}active{% endif %}">
                                <a class="page-link" href="?{% change_params page=page %}">{{ page }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                            
                            <li class="page-item {% if not page_obj.has_next %}disabled{% endif %}">
                                <a class="page-link" href="{% if page_obj.has_next %}?{% change_params page=page_obj.next_page_number %}{% else %}
                                #
                                {% endif %}">Следующая</span></a>
                            </li>
                        </ul>
                    </nav>
                </div>
                {% endif %}
                <!-- Пагинация End -->
                
            </div>
        </div>
        <!-- Shop Product End -->
    </div>
</div>
<!-- Shop End -->
{% endblock %}

<!-- Footer Start -->
{% block footer %}
<footer>
    <div class="container-fluid bg-dark text-secondary mt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 mb-5 pt-1">
                <h5 class="text-secondary text-uppercase mb-4">Оставайтесь на связи</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Blagoveshchensk, Russia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 (914) 558-07-25  (c 09:00 до 18:00)</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Навигация по сайту</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:index" %}"><i class="fa fa-angle-right mr-2"></i>Главная страница</a>
                            <a class="text-secondary mb-2" href="{% url "main:all_categories" %}"><i class="fa fa-angle-right mr-2"></i>Каталог</a>
                            <a class="text-secondary mb-2" href="{% url "favorite:favorites_list" %}"><i class="fa fa-angle-right mr-2"></i>Избранное</a>
                            <a class="text-secondary mb-2" href="{% url "user:users_cart" %}"><i class="fa fa-angle-right mr-2"></i>Корзина</a>
                            {% if user.is_authenticated %}
                                <a class="text-secondary mb-2" href="{% url "users:profile" %}"><i class="fa fa-angle-right mr-2"></i>Личный кабинет</a>
                                <a class="text-secondary" href="{% url "orders:my_orders" %}"><i class="fa fa-angle-right mr-2"></i>Заказы</a>
                            {% else %}
                                <a class="text-secondary" href="{% url "users:registration" %}"><i class="fa fa-angle-right mr-2"></i>Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Для клиента</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Сообщить о проблеме</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#confidencial-politics"><i class="fa fa-angle-right mr-2"></i>Политика конфиденциальности</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#personal-data"><i class="fa fa-angle-right mr-2"></i>Персональные данные</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#sale-rules"><i class="fa fa-angle-right mr-2"></i>Правила продаж</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#site-rules"><i class="fa fa-angle-right mr-2"></i>Правила пользования сайта</a>
                            <a class="text-secondary" href="{% url "main:about" %}#partnership"><i class="fa fa-angle-right mr-2"></i>Сотрудничество</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Подписаться на новости</h5>
                        <p>Подпишитесь на новости, чтобы первым узнавать о распродажах и акциях</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ваша почта">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Подписаться</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Мы в соцсетях</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://t.me/MaxBakshaev"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://vk.com/id177267895"><i class="fab fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; 2025 - <a class="text-primary" href="https://beget.com/ru">Beget.com</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://github.com/MaxBakshaev/">MaxBakshaev</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Footer End -->