{% extends "base.html" %}
{% load static %}

{% block modal_cart %}
{% include "includes/cart_button.html" %}
{% endblock modal_cart %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <a class="breadcrumb-item text-dark" href="{% url "main:all_categories" %}">Каталог</a>
                <a class="breadcrumb-item text-dark" href="{% url "catalog:index" product.category.slug %}">{{ product.category.name }}</a>
                <span class="breadcrumb-item active">{{ product.name }}</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->

<!-- Shop Detail Start -->
<div class="container-fluid pb-5">
    <div class="row px-xl-5">
        <div class="col-lg-5 mb-30">
            <div id="product-carousel" class="carousel slide" data-ride="carousel" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="carousel-inner bg-light">
                    <div class="carousel-item active">
                        {% if product.image %}
                            <img class="w-100 h-100" src="{{ product.image.url }}" alt="{{ product.name }}">
                        {% else %}
                            <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    <!-- Информация о товаре Start -->
        <div class="col-lg-7 h-auto mb-30">
            <div class="h-100 bg-light p-30" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <h3>{{ product.name }}</h3>
                <p class="product_id">id: {{ product.display_id }}</p>
                <div class="d-flex mb-3">
                    <div class="text-primary mr-2">
                        {% if product_rating < 0.25 %}
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 0.25 <= product_rating and product_rating < 0.75 %}
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 0.75 <= product_rating and product_rating < 1.25 %}
                            <small class="fas fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 1.25 <= product_rating and product_rating < 1.75 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 1.75 <= product_rating and product_rating < 2.25 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 2.25 <= product_rating and product_rating < 2.75 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 2.75 <= product_rating and product_rating < 3.25 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 3.25 <= product_rating and product_rating < 3.75 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                            <small class="far fa-star"></small>
                        {% elif 3.75 <= product_rating and product_rating < 4.25 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="far fa-star"></small>
                        {% elif 4.25 <= product_rating and product_rating < 4.75 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star-half-alt"></small>
                        {% elif product_rating >= 4.75 %}
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                            <small class="fas fa-star"></small>
                        {% endif %}
                    </div>
                    <small class="pt-1">({{ amount_reviews }} {{ reviews_ending }})</small>
                </div>
                {% if product.discount %}
                    <div class="d-flex align-items-center">
                        <p><h5 class="text-muted"><del>{{ product.price_str }} ₽</del></h5>
                        <h5 class="bg-warning text-dark ml-3" 
                        style="padding: 5px 10px; border-radius: 5px; font-size: 1rem;">
                        -{{ product.discount }} %</h5></p>
                    </div>
                {% endif %}
                <p class="mb-4" style="text-align: justify; white-space: pre-line;">{{ product.description }}</p>
                <p><h3 class="font-weight-semi-bold mb-4">{{ product.sell_price_str }} ₽</h3></p>
                <div class="d-flex align-items-center mb-4 pt-2">
                    <a class="btn btn-primary px-3 add-to-cart" href="{% url "cart:cart_add"%}"
                    data-product-id="{{ product.id }}">
                    {% csrf_token %}
                    <i class="fa fa-shopping-cart mr-1"></i> Добавить в корзину
                </a>
                </div>
                <form action="{% url "favorites:add_to_favorites" id=product.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="type" value="{{ type }}">
                    <input type="hidden" name="url_from" value="{{ request.path }}">
                    <button type="submit" class="btn btn-primary px-3">
                        <i class="fa fa-heart mr-1"></i>Добавить в избранное</button>
                </form>
                <p></p>
                {% if product.quantity > 0 %}
                    <p>В наличии - {{ product.quantity }} шт.</p>
                {% else %}
                    <p>Нет в наличии</p>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- Информация о товаре End -->

    <!-- Отзывы Start -->
    <div class="row px-xl-5">
        <div class="col">
            <div class="bg-light p-30" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <div class="nav nav-tabs mb-4">
                    <a class="nav-item nav-link text-dark active" data-toggle="tab" href="#tab-pane-1">Отзывы ({{ amount_reviews }})</a>
                </div>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-pane-1">
                        <div class="row">
                            <div class="col-md-6" style="text-align: justify;">
                                {% if reviews %}
                                    <div class="text-center">
                                        <img class="img-fluid w-50 mb-4" src="{% static "img/Отзывы1.png" %}" alt="">
                                    </div>
                                    {% comment %} <h4 class="mb-4">Отзывы о "{{ product.name }}":</h4> {% endcomment %}
                                    {% for review in reviews %}
                                        <div class="media mb-4">
                                            {% if review.user.image %}
                                                <img src="{{ review.user.image.url }}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            {% else %}
                                                <img src="{% static "img\baseavatar.PNG" %}" alt="Image" class="img-fluid mr-3 mt-1" style="width: 45px;">
                                            {% endif %}
                                            <div class="media-body">
                                                <h6>{{ review.user.username }}<small> - <i>{{ review.created }}</i></small></h6>
                                                <div class="text-primary mb-2">
                                                    {% if review.rating == 1 %}
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    {% elif review.rating == 2 %}
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    {% elif review.rating == 3 %}
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    {% elif review.rating == 4 %}
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="far fa-star"></i>
                                                    {% elif review.rating == 5 %}
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                        <i class="fas fa-star"></i>
                                                    {% endif %}
                                                    {% comment %} <i class="fas fa-star-half-alt"></i> {% endcomment %}

                                                </div>
                                                <p>{{ review.comment }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                                {% else %}
                                    <div class="text-center">
                                        <h4 class="mb-4 pt-3">Отзывов еще нет</h4>
                                        <img class="img-fluid w-25 mb-4" src="{% static "img/luxa.org-color-._84134.png" %}" alt="">
                                    </div>
                                {% endif %}
                            </div>
                            <!-- Напишите отзыв Start -->
                            <div class="col-md-6 pt-3" style="padding-left: 30px;">
                                {% if user.is_authenticated %}
                                    <h4 class="mb-4">Напишите отзыв</h4>                                             
                                    <form action="" method="post">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <div class="rating-area">
                                                <text style="margin-bot: 5px !important;">Ваша оценка :</text>
                                                <input type="radio" id="star-5" name="rating" value="5" checked>
                                                <label for="star-5" title="Оценка «5»"></label>	
                                                <input type="radio" id="star-4" name="rating" value="4">
                                                <label for="star-4" title="Оценка «4»"></label>    
                                                <input type="radio" id="star-3" name="rating" value="3">
                                                <label for="star-3" title="Оценка «3»"></label>  
                                                <input type="radio" id="star-2" name="rating" value="2">
                                                <label for="star-2" title="Оценка «2»"></label>    
                                                <input type="radio" id="star-1" name="rating" value="1">
                                                <label for="star-1" title="Оценка «1»"></label>
                                            </div>
                                            <p></p>
                                            <label for="id_comment">Ваш отзыв : *</label>
                                            <textarea class="form-control" id="id_comment"
                                            name="comment" cols="30" rows="5"></textarea>
                                        </div>
                                        <button class="btn btn-primary px-3" type="submit">
                                            <i class="fa fa-comment mr-1"></i>Отправить отзыв</button>
                                    </form>
                                {% else %}
                                    <h4 class="mb-4">Войдите в аккаунт, чтобы оставить отзыв</h4>
                                    <a class="btn btn-primary px-3" type="submit" href="{% url "users:login" %}">
                                        <i class="fa fa-arrow-right mr-1"></i>Войти</a>
                                {% endif %}
                            </div>
                            <!-- Напишите отзыв End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Отзывы End -->
</div>
<!-- Shop Detail End -->
{% endblock %}
    
<!-- Footer Start -->
{% block footer %}
<footer>
    <div class="container-fluid bg-dark text-secondary mt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 mb-5 pt-1">
                <h5 class="text-secondary text-uppercase mb-4">Оставайтесь на связи</h5>
                <p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>123 Street, Blagoveshchensk, Russia</p>
                <p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>info@example.com</p>
                <p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>+7 (914) 558-07-25  (c 09:00 до 18:00)</p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Навигация по сайту</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:index" %}"><i class="fa fa-angle-right mr-2"></i>Главная страница</a>
                            <a class="text-secondary mb-2" href="{% url "main:all_categories" %}"><i class="fa fa-angle-right mr-2"></i>Каталог</a>
                            <a class="text-secondary mb-2" href="{% url "favorite:favorites_list" %}"><i class="fa fa-angle-right mr-2"></i>Избранное</a>
                            <a class="text-secondary mb-2" href="{% url "user:users_cart" %}"><i class="fa fa-angle-right mr-2"></i>Корзина</a>
                            {% if user.is_authenticated %}
                                <a class="text-secondary mb-2" href="{% url "users:profile" %}"><i class="fa fa-angle-right mr-2"></i>Личный кабинет</a>
                                <a class="text-secondary" href="{% url "orders:my_orders" %}"><i class="fa fa-angle-right mr-2"></i>Заказы</a>
                            {% else %}
                                <a class="text-secondary" href="{% url "users:registration" %}"><i class="fa fa-angle-right mr-2"></i>Зарегистрироваться</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Для клиента</h5>
                        <div class="d-flex flex-column justify-content-start">
                            <a class="text-secondary mb-2" href="{% url "main:about" %}"><i class="fa fa-angle-right mr-2"></i>Сообщить о проблеме</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#confidencial-politics"><i class="fa fa-angle-right mr-2"></i>Политика конфиденциальности</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#personal-data"><i class="fa fa-angle-right mr-2"></i>Персональные данные</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#sale-rules"><i class="fa fa-angle-right mr-2"></i>Правила продаж</a>
                            <a class="text-secondary mb-2" href="{% url "main:about" %}#site-rules"><i class="fa fa-angle-right mr-2"></i>Правила пользования сайта</a>
                            <a class="text-secondary" href="{% url "main:about" %}#partnership"><i class="fa fa-angle-right mr-2"></i>Сотрудничество</a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-secondary text-uppercase mb-4">Подписаться на новости</h5>
                        <p>Подпишитесь на новости, чтобы первым узнавать о распродажах и акциях</p>
                        <form action="">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Ваша почта">
                                <div class="input-group-append">
                                    <button class="btn btn-primary">Подписаться</button>
                                </div>
                            </div>
                        </form>
                        <h6 class="text-secondary text-uppercase mt-4 mb-3">Мы в соцсетях</h6>
                        <div class="d-flex">
                            <a class="btn btn-primary btn-square mr-2" href="https://t.me/MaxBakshaev"><i class="fab fa-telegram"></i></a>
                            <a class="btn btn-primary btn-square mr-2" href="https://vk.com/id177267895"><i class="fab fa-vk"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row border-top mx-xl-5 py-4" style="border-color: rgba(256, 256, 256, .1) !important;">
            <div class="col-md-6 px-xl-0">
                <p class="mb-md-0 text-center text-md-left text-secondary">
                    &copy; 2025 - <a class="text-primary" href="https://beget.com/ru">Beget.com</a>. All Rights Reserved. Designed by
                    <a class="text-primary" href="https://github.com/MaxBakshaev/">MaxBakshaev</a>
                </p>
            </div>
            <div class="col-md-6 px-xl-0 text-center text-md-right">
                <img class="img-fluid" src="{% static "img/payments.png" %}" alt="">
            </div>
        </div>
    </div>
</footer>
{% endblock %}
<!-- Footer End -->