{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container-fluid pt-5 d-flex" style="justify-content: center;">
    <div class="col-lg-9" id="remove-from-favorites">
        <h2 class="section-title position-relative mx-xxl-5 mb-4"><span class="bg-secondary pr-3">Избранное</span></h2>
        {% if goods %}
            <div class="row pb-3">
                {% for product in goods %}
                <div class="col-lg-4 col-md-5 col-sm-6 pb-1 d-flex">
                    <div class="product-item bg-light mb-4" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                        <div class="product-img position-relative overflow-hidden">
                            {% if product.0.image %}
                                <img class="img-fluid w-100" src="{{ product.0.image.url }}" alt="{{ product.0.name }}">
                            {% else %}
                                <img class="img-fluid w-100" src="{% static "img/Not found image.png" %}" alt="">
                            {% endif %}
                                <div class="product-action">
                                    <a class="btn btn-outline-dark btn-square add-to-cart" href="{% url "cart:cart_add" %}"
                                    data-product-id="{{ product.0.id }}">
                                        {% csrf_token %}
                                        <i class="fa fa-shopping-cart"></i></a>
                                    <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                                </div>
                        </div>
                        <div class="text-center py-3"> 
                            <p>
                                <a class="h4" href="{% url "catalog:product" product.0.slug %}">
                                    {% autoescape off %}
                                        {% if product.0.headline %}
                                        {{ product.0.headline }}
                                        {% else %}
                                        {{ product.0.name }}
                                        {% endif %}
                                    {% endautoescape %}
                                </a>
                            </p>
                            <p class="product_id"> id: {{ product.0.display_id }}</p>
                            <div class="d-flex align-items-center justify-content-center mt-1">
                                {% if product.0.discount %}
                                    <h5>{{ product.0.sell_price_str }} ₽</h5>
                                    <h6 class="text-muted ml-3"><del>{{ product.0.price_str }}</del> ₽</h6>
                                    <h5 class="badge bg-warning text-dark ml-3">-{{ product.0.discount }} %</h5>
                                {% else %}
                                    <h5>{{ product.0.price_str }} ₽</h5>
                                {% endif %}
                            </div>
                            <div class="text-primary mr-2">
                                {% if product.1.0 < 0.25 %}
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 0.25 <= product.1.0 and product.1.0 < 0.75 %}
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 0.75 <= product.1.0 and product.1.0 < 1.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 1.25 <= product.1.0 and product.1.0 < 1.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 1.75 <= product.1.0 and product.1.0 < 2.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 2.25 <= product.1.0 and product.1.0 < 2.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 2.75 <= product.1.0 and product.1.0 < 3.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 3.25 <= product.1.0 and product.1.0 < 3.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                    <small class="far fa-star"></small>
                                {% elif 3.75 <= product.1.0 and product.1.0 < 4.25 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="far fa-star"></small>
                                {% elif 4.25 <= product.1.0 and product.1.0 < 4.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star-half-alt"></small>
                                {% elif product.1.0 >= 4.75 %}
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                    <small class="fas fa-star"></small>
                                {% endif %}
                                <small style="Color: #3D464D;">({{ product.1.1 }})</small>
                            </div>
                            <form action="{% url "favorites:remove_from_favorites" id=product.0.id %}" method="post">
                                {% csrf_token %}
                                <input type="hidden" name="type" value="{{ type }}">
                                <input type="hidden" name="url_from" value="{{ request.path }}">
                                <button type="submit" class="btn btn-primary mt-2" style="color: #3D464D !important">Удалить из избранного</button>
                            </form>
                        </div>
                    </div>
                </div>    
                {% endfor %}   
            </div>
        {% else %}
        <div class="bg-light p-30 mb-5 text-center" style="border: 1px solid rgba(0, 0, 0, 0.125);">
            <img src="{% static "img/yellow-heart_1f49b.png" %}" class="pb-2" style="width: 160px;">
            <h5>В избранном пока нет товаров</h5>
            <a class="h5" href="{% url "main:all_categories" %}" style="Color: #e6b400;">Перейти в каталог</a>
        </div>             
        {% endif %}
    </div>
</div>

{% endblock %}
    