{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 bg-white p-4 mb-4 mx-3 rounded" style="border: 1px solid rgba(0, 0, 0, 0.125);">
                <h2 class="text-center mb-4">Пароль изменен</h2>
                <p>Поздравляем! Вы успешно сменили пароль своего аккаунта. Используйте его для
                    <a href="{% url "users:login" %}">входа в систему</a>.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}